{% load form_tags %}
<h3 style="margin:0;">Stay in touch</h3>
<div class="soc-network">
    <a href="https://www.facebook.com/alsace.nyc" target="_blank">
        <i class="ion-social-facebook"></i>
    </a>
     <a href="https://www.facebook.com/alsace.nyc" target="_blank">
        <i class="ion-social-instagram"></i>
     </a>
    <a href="https://www.linkedin.com/company/11514597/" target="_blank">
        <i class="ion-social-linkedin"></i>
    </a>
</div>

<p style="margin:.5em 0 0 0;">Subscribe to our newsletter to stay in touch with us!</p>
{% mailchimp_form %}

<hr/>

<h3>Support Us</h3>

<p>Visit l'Union Alsacienne shop.</p>

<a href="https://squareup.com/store/union-alsacienne-of-new-york"
   target="_blank">
    <div class="btn btn-primary btn-cta">
        Don<i class="icon-acoeur" style="color:white;"></i>te/Shop
    </div>
</a>
