{% extends "base.html" %}

{% block body_class %}template-homepage{% endblock %}

{% block content %}
    <div class="container-fluid">
     <div class="row">
        <div class="col-xs-12
                    col-sm-12
                    col-md-8
                    col-lg-8">
            <h2>{{ page.title }}</h2>

            <h2>Upcoming events</h2>
            <p>Nothing planned at the moment.</p>

        </div>
         <div class="col-xs-12
                    col-sm-12
                    col-md-4
                    col-lg-4">
             <h4>Sign up for updates.</h4>

             <h4>Contact Us</h4>

         </div>
    </div>
    </div>

{% endblock %}
