{% extends "base.html" %}
{% load event_tags wagtailcore_tags %}

{% block body_class %}template-homepage{% endblock %}

{% block content %}
    <div class="container-fluid">
         <div class="row">
            <div class="col-xs-12
                        col-sm-12
                        col-md-8
                        col-lg-8">
                 <h3>Upcoming events</h3>
                {% events_grid %}

                {{ page.body|richtext }}

{#                <h3>Sponsors</h3> #}
{#                <p>No sponsors at the moment.</p> #}

            </div>
             <div class="col-xs-12
                        col-sm-12
                        col-md-4
                        col-lg-4">

                 {% include "includes/mailchimp_signup_form.html" %}

             </div>
        </div>
    </div>
{% endblock %}
