[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = "<2.1,>=2.0"
wagtail = "<2.1,>=2.0"
dj-database-url = "*"
"psycopg2" = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.6"
