{% load static wagtailuserbar %}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>
            {% block title %}
                Alsace.nyc - {% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}
            {% endblock %}
            {% block title_suffix %}
                {% with self.get_site.site_name as site_name %}
                    {% if site_name %}- {{ site_name }}{% endif %}
                {% endwith %}
            {% endblock %}
        </title>

        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="description"
              content="{% if page.seo_description %}{{ page.seo_description }}{% endif %}" />

        <meta itemprop="name" content="Alsace.nyc - {% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}">
        <meta itemprop="description" content="{% if page.seo_description %}{{ page.seo_description }}{% endif %}">
        <meta itemprop="image" content="/static/alsace_nyc.jpg">

        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:title" content="Alsace.nyc - {% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}e">
        <meta name="twitter:description" content="{% if page.seo_description %}{{ page.seo_description }}{% endif %}">
        <!-- Twitter summary card with large image must be at least 280x150px -->
        <meta name="twitter:image:src" content="/static/alsace_nyc.jpg">

        <!-- Open Graph data -->
        <meta property="og:title" content="Alsace.nyc - {% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}" />
        <meta property="og:type" content="article" />
        <meta property="og:url" content="{{ request.get_full_path }}" />
        <meta property="og:image" content="/static/alsace_nyc.jpg" />
        <meta property="og:description" content="{% if page.seo_description %}{{ page.seo_description }}{% endif %}" />
        <meta property="og:site_name" content="Alsace.nyc" />

        <link rel="shortcut icon"
              href="{% static 'favicon.ico' %}"
              type="image/vnd.microsoft.icon">

        {# Global stylesheets #}
        <link href="https://fonts.googleapis.com/css?family=Montserrat"
              rel="stylesheet">

        <link rel="stylesheet"
              type="text/css"
              href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" />

        <link rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.4.3/css/foundation.min.css"
              integrity="sha256-GSio8qamaXapM8Fq9JYdGNTvk/dgs+cMLgPeevOYEx0="
              crossorigin="anonymous" />

        <link rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/flexboxgrid/6.3.1/flexboxgrid.min.css"
              integrity="sha256-/8+sU56ayrJGahG9mmcUaNEghbavaceGybkdqO96Kk0="
              crossorigin="anonymous" />

        {% block extra_css %}
            {# Override this in templates to add extra stylesheets #}
        {% endblock %}

        <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
        {# Webpack will inject custom css here #}

        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-58578922-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', 'UA-58578922-1');
        </script>

    </head>

    <body class="{% block body_class %}{% endblock %}">
    {% wagtailuserbar %}

    <div class="wrapper">

        {% block header %}
            {# Header contains the main_navigation block #}
            {% include "includes/header.html" with parent=site_root calling_page=self %}
        {% endblock header %}

        <div class="hero-container"></div>

        {% block content %}{% endblock %}

    </div>

    {% include "includes/footer.html" %}


    {# Global javascript #}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E="
            crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/fastclick/1.0.6/fastclick.min.js"
            integrity="sha256-t6SrqvTQmKoGgi5LOl0AUy+lBRtIvEJ+++pLAsfAjWs="
            crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.4.3/js/foundation.min.js"
            integrity="sha256-mRYlCu5EG+ouD07WxLF8v4ZAZYCA6WrmdIXyn1Bv9Vk="
            crossorigin="anonymous"></script>

    {% block extra_js %}
        {# Override this in templates to add extra javascript #}
    {% endblock %}

    {# Webpack will inject js here #}

    </body>
</html>
