{% load wagtailcore_tags wagtailimages_tags %}


<div class="event-grid">
    {% for event in events %}
        <a href="{% pageurl event %}" class="event-wrapper">
            {% image event.image max-320x200 as image %}
            <div class="img" style="background-image:url({{ image.url }})">
                <img src="{{ image.url }}"
                     style="display:none;"
                     width="100%"
                     height="100%" alt="{{ image.alt }}" />
            </div>
            <div class="">
                <p>{{ event.title }}</p>
            </div>
        </a>
        {% empty %}
         <p>No event scheduled ate the moment.</p>
    {% endfor %}
</div>
